@media only screen and (max-width: 1200px) {
    h2 {
        color: red;
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    h2 {
        color: green;
        font-size: 100px;
    }
}
