/* 
Button Stages:
>> hover (Applies styles whenever the cursor goes on the output).
>> active (Applies styles whenever the cursor is clicked on the output and removes the style 
           whenever the cursor is removed).
>> focus (Applies styles whenever the cursor is clicked on the output and will removes the style 
           whenever the cursor is clicked outside the output).
*/

/* Points the cursor on button */

button:hover {
	color: white;
	background: black;
	cursor: pointer;
}

/* Indicates button is active */

button:active {
	border: 6px solid red;
}

/* Indicates that u have already visited the button */

button:focus {
	color: greenyellow;
	background: skyblue;
}

a:link {
	color:red;
}

a:visited {
	color:green;
}

span {
	background: yellow;
	padding:8px;
	margin:8px;
}
span:first-child {
	background: red;
}

span:nth-child(2) {
	background: red;
}

span:last-child {
	background: red;
}

span:nth-child(even) {
	background: green;
}

span:nth-child(odd) {
	background: skyblue;
}

h3 {
	color: green;
	background: skyblue;
	border: 5px solid red;
	margin:20px;
	padding: 20px;
}

h3::before {
	content: "Good ";
}

h3::after {
	content: " Guys!";
}

.shape {
	position: relative;
	margin: 100px;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: black;
}

.shape::before {
	content: " ";
	position: absolute;
	top:0;
	left:0;
	margin: 100px;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background: yellow;
}

.shape::after {
	content: " ";
	margin: 100px;
	position: absolute;
	bottom:0;
	right:0;
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background: yellow;
}