
* {
	box-sizing: border-box;
}

h2 {
	background-color: skyblue;
	color: green;
	border: 2px solid brown;
	padding: 50px;
	margin: 40px;
}

/*

Display-block:

.divc {
	background-color: skyblue;
	color: green;
	height: 30px;
	width: 700px;
	display:block;
}
*/

/*

Display-inline (height and width properties don't work with inline)

.divc {
	display:inline;
	background-color: skyblue;
	color: green;
}

*/

/*

Display-inline-block (Combination of both inline and block)

.divc {
	display:inline-block;
	background-color: skyblue;
	color: green;
	height: 70px;
}

*/


/* Positions in CSS

>> Static (default)
>> Relative
>> Absolute
>> Fixed
>> Sticky

*/

/* Offset: top, right, bottom, left */


/* 
Static is the default position, even if we don't write it will execute.
.h4c {
	position: static;
	background-color: skyblue;
	color: green;
	border: 5px solid darkred;
}
*/

/* in relative, at once either top or down will work and either right or left will work

.h4c {
	position: relative;
	background-color: skyblue;
	color: green;
	border: 5px solid darkred;
	top: 10px;
	left: 17px;
}

*/